/* ローディング後の処理 */
.loaded {
opacity: 0;
visibility: hidden;
}
/* ローディング画面 */
#loading {

  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #ffd7b9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  .text{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    animation: text 0.8s infinite ;
    @keyframes  text {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .spinner {
    width: 150px;
    height: 150px;
    margin: 250px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite;
    /* ローディングアニメーション */
    @keyframes sk-scaleout {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1.5);
        opacity: 0;
      }
    }
  }

}
